body {
  background: url(/public/Donkey-Kong-reduced.jpg) no-repeat fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
